BODY {
	FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: white
}
.td {
	COLOR: #333333; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}
.networklink {
	FONT-SIZE: 66%; COLOR: #454b55
}
.networklink A {
	COLOR: #454b55
}
.networklink A:visited {
	COLOR: #454b55
}
.networklink A:hover {
	COLOR: #000000
}
.copyright {
	FONT-SIZE: 66%; COLOR: #ffffff
}
.copyright A {
	COLOR: #ffffff
}
.copyright A:visited {
	COLOR: #ffffff
}
.copyright A:hover {
	COLOR: #000000
}
.hdr1 {
	BORDER-RIGHT: 0px solid; BORDER-TOP: #999999 1px solid; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 8pt; VERTICAL-ALIGN: middle; BORDER-LEFT: #999999 1px solid; COLOR: #0a0a0a; LINE-HEIGHT: 12px; BORDER-BOTTOM: 0px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: left
}
.v1 {
	FONT-SIZE: 77%; COLOR: #333333; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.v1 A:link {
	COLOR: #003399
}
.v1 A:hover {
	COLOR: #000033
}
.v2 {
	FONT-SIZE: 66%; COLOR: #333333; LINE-HEIGHT: 133%; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.v2 A:link {
	COLOR: #003399
}
.v2 A:visited {
	COLOR: #003399
}
.v2 A:hover {
	COLOR: #000033
}
.v3 {
	FONT-SIZE: 10px; COLOR: #4b4b4b; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.v3:link {
	COLOR: #303030; TEXT-DECORATION: none
}
.v3:hover {
	COLOR: #9e0b0e; TEXT-DECORATION: underline
}
.v4 {
	FONT-WEIGHT: bold; FONT-SIZE: 66%; COLOR: #000000; LINE-HEIGHT: 133%; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.v4 A:link {
	FONT-WEIGHT: bold; COLOR: #000000; TEXT-DECORATION: none
}
.v4 A:visited {
	FONT-WEIGHT: bold; COLOR: #000000; TEXT-DECORATION: none
}
.v4 A:hover {
	FONT-WEIGHT: bold; COLOR: #000000; TEXT-DECORATION: underline
}
.a1 {
	FONT-SIZE: 66%; COLOR: #666666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.a1 A:link {
	COLOR: #666666; TEXT-DECORATION: underline
}
.a1 A:unknown {
	COLOR: #666666; TEXT-DECORATION: underline
}
.a1 A:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}
.a2 {
	FONT-SIZE: 66%; COLOR: #666666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.a2 A:link {
	COLOR: #666666; TEXT-DECORATION: underline
}
.a2 A:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}
.a3 {
	FONT-SIZE: 7.5pt; COLOR: #4b4b4b; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.a3:link {
	COLOR: #4b4b4b; TEXT-DECORATION: underline
}
.a3:hover {
	COLOR: #9e0b0e; TEXT-DECORATION: underline
}
.a4 {
	FONT-SIZE: 10pt; COLOR: #222222; LINE-HEIGHT: 18px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.entrybox1 {
	BORDER-RIGHT: #e7d68e 1px solid; BORDER-TOP: #e7d68e 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #e7d68e 1px solid; BORDER-BOTTOM: #e7d68e 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.navbtn {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ba8600; TEXT-DECORATION: none
}
.navbtn:hover {
	COLOR: #000000; TEXT-DECORATION: none
}
.navbtnSel {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #000000; TEXT-DECORATION: none
}
.navbtnSel:hover {
	COLOR: #ba8600; TEXT-DECORATION: none
}
.logout {
	FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ba8600; TEXT-DECORATION: none
}
.logout:hover {
	
}
.n1 {
	PADDING-RIGHT: 7px; PADDING-LEFT: 7px; FONT-SIZE: 8pt; PADDING-BOTTOM: 7px; COLOR: #303030; LINE-HEIGHT: 16px; PADDING-TOP: 7px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.t1 {
	FONT-WEIGHT: bold; FONT-SIZE: 114%; COLOR: #333333; LINE-HEIGHT: 118%; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.t2 {
	FONT-SIZE: 66%; COLOR: #333333; LINE-HEIGHT: 135%
}
.t2 A {
	COLOR: #003399
}
.t2 A:hover {
	COLOR: #000033
}
.t2 A:visited {
	COLOR: #003399
}
.t3 {
	FONT-WEIGHT: bold; FONT-SIZE: 70%; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ba8600
}
.t4 {
	FONT-WEIGHT: bold; FONT-SIZE: 70%; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ba8600; TEXT-DECORATION: none
}
.t5 {
	FONT-WEIGHT: bold; FONT-SIZE: 66%; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #edb933; TEXT-DECORATION: none
}
.dlg {
	BACKGROUND-COLOR: #eeeeee
}
.bg {
	BACKGROUND-COLOR: #ffffff
}
.menuRight {
	BACKGROUND-COLOR: #666666
}
.toplogo {
	BACKGROUND-COLOR: #a3a8b1
}
.topmenu {
	BACKGROUND-COLOR: #000000
}
.toc {
	BACKGROUND-COLOR: #f6dd99
}
.menuLeft {
	BACKGROUND-COLOR: #666666
}
.Top5Border {
	BACKGROUND-COLOR: #666666
}
.Top5EvenRows {
	
}
.Top5OddRows {
	
}
.Top5TableHeading {
	
}
.NewThisWeekBorder {
	BACKGROUND-COLOR: #666666
}
.NewThisWeekEvenRows {
	
}
.NewThisWeekOddRows {
	
}
.NewThisWeekTableHeading {
	
}
.MyRecentPagesBorder {
	BACKGROUND-COLOR: #666666
}
.MyRecentPagesEvenRows {
	
}
.MyRecentPagesOddRows {
	
}
.MyRecentPagesTableHeading {
	BACKGROUND-COLOR: #eeeeee
}
.RecommendedTitlesBorder {
	BACKGROUND-COLOR: #666666
}
.RecommendedTitlesEvenRows {
	
}
.RecommendedTitlesOddRows {
	
}
.RecommendedTitlesTableHeading {
	
}
.MyBookshelfBorder {
	BACKGROUND-COLOR: #666666
}
.MyBookshelfSpacer {
	BACKGROUND-COLOR: #666666
}
.MyBookshelfEvenRows {
	
}
.MyBookshelfOddRows {
	
}
.MyBookshelfTableHeading {
	
}
.MyRecentSearchesBorder {
	BACKGROUND-COLOR: #666666
}
.MyRecentSearchesEvenRows {
	
}
.MyRecentSearchesOddRows {
	
}
.MyRecentSearchesTableHeading {
	BACKGROUND-COLOR: #eeeeee
}
.MyBookmarksBorder {
	BACKGROUND-COLOR: #666666
}
.MyBookmarksEvenRows {
	BACKGROUND-COLOR: #eeeeee
}
.MyBookmarksOddRows {
	
}
.MyBookmarksTableHeading {
	BACKGROUND-COLOR: #eeeeee
}
.GroupNotesBorder {
	BACKGROUND-COLOR: #666666
}
.GroupNotesEvenRows {
	
}
.GroupNotesOddRows {
	
}
.GroupNotesTableHeading {
	BACKGROUND-COLOR: #eeeeee
}
.PublicNotesBorder {
	BACKGROUND-COLOR: #666666
}
.PublicNotesEvenRows {
	
}
.PublicNotesOddRows {
	
}
.PublicNotesTableHeading {
	BACKGROUND-COLOR: #eeeeee
}
.MyNotesBorder {
	BACKGROUND-COLOR: #666666
}
.MyNotesEvenRows {
	
}
.MyNotesOddRows {
	
}
.MyNotesTableHeading {
	BACKGROUND-COLOR: #eeeeee
}
.ListByCatBorder {
	BACKGROUND-COLOR: #666666
}
.ListByCatEvenRows {
	BACKGROUND-COLOR: #eeeeee
}
.ListByCatOddRows {
	BACKGROUND-COLOR: #ffffff
}
.ListByCatTableHeading {
	BACKGROUND-COLOR: #999999
}
.SearchResultBorder {
	BACKGROUND-COLOR: #666666
}
.SearchResultEvenRows {
	BACKGROUND-COLOR: #eeeeee
}
.SearchResultOddRows {
	BACKGROUND-COLOR: #ffffff
}
.SearchResultTableHeading {
	BORDER-RIGHT: 0px solid; BORDER-TOP: 0px solid; PADDING-LEFT: 2px; FONT-SIZE: 66%; VERTICAL-ALIGN: middle; BORDER-LEFT: 0px solid; COLOR: #000000; LINE-HEIGHT: 12px; BORDER-BOTTOM: 0px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #cccccc; TEXT-ALIGN: center
}
.SectionSearchResultBorder {
	BACKGROUND-COLOR: #666666
}
.SectionSearchResultEvenRows {
	BACKGROUND-COLOR: #ffffff
}
.SectionSearchResultOddRows {
	BACKGROUND-COLOR: #eeeeee
}
.SectionSearchResultTableHeading {
	BORDER-RIGHT: 0px solid; BORDER-TOP: 0px solid; PADDING-LEFT: 2px; FONT-SIZE: 66%; VERTICAL-ALIGN: middle; BORDER-LEFT: 0px solid; COLOR: #000000; LINE-HEIGHT: 12px; BORDER-BOTTOM: 0px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #cccccc; TEXT-ALIGN: center
}
.TextFrame {
	BACKGROUND-COLOR: #d1c8a1
}
.printhdr {
	FONT-SIZE: 12pt; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
